.container-home button:hover{
	transform: scale(1.05);
	box-shadow: 0px 0px 10px white;
}

.cards-projeto:hover{
	transform: scale(1.05);
	box-shadow: 0px 0px 10px;
}

.cards-projeto button:hover{
	transform: scale(1.08);
	text-shadow: 0px 0px 10px white;
}

.nav-menu:hover{
 margin: 0 0 10px 0;
 transform: scale(1.05); 
}
