section{
}
main{
	background: rgba(0, 0, 0, 1);
	color: white; 
	padding: 20px;
}

.sub-titulos{
  font-size: 30px;
  font-weight: 200;
  margin:20px 0 20px 20px;
}

.sub-titulos::after{
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background: white;
	margin: 5px 0 5px 0;
}

.titulos-principal{
   margin:10px 0 10px 20px;
   font-size: 15px;
   font-weight: 800;
}
.home{
	margin:50px 0;
	display: flex;
}
.container-home{
	margin: 30px 0;
	width: 50%;
	max-height: 350px;
}

.container-home figure{
	width: 50%;
}

.container-home h2{
	font-size: 30px;
	font-weight: 100;
	max-width: 500px;
	margin: 20px 0 0 20px;

}

.container-home p {
	margin: 20px 0 0 20px;
	font-size: 15px;
	max-width: 350px;
}

.container-home h2 strong{
	font-weight: 800;
}

.container-home button{
	margin: 30px 0 0 20px;
	border: 1px solid white;
	background: rgba(0,0,0,1);
	padding: 8px; 
	transition: 0.4s;
}

.container-home button a{
	color: white;
}

.home figure img{
	background-repeat: no-repeat;
	max-width: 500px;
	height: 350px;
	background-position: center;
}


.container-projeto{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.cards-projeto img{
	width: 260px;
	height: 140px;
	border-radius: 5px;
}

.cards-projeto{
 background-color: rgb(30,30,30);
 height: 330px;
 width: 280px;
 margin: 0 10px 0 20px;
 border-radius: 10px;
 border:1px solid gray;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 transition: 0.5s;
}

.cards-projeto h3{
	font-weight: 800;
	margin: 10px;
	margin: 10px 10px 5px 10px;
	align-self: flex-start;
}

.cards-projeto button{
	margin: 15px 0 0 10px;
	font-weight: 800;
	border:none;
	align-self: flex-start;
	background: rgb(30,30,30);
	color: white;
	 transition: 0.5s;
}

.cards-projeto p {
	margin: 5px 10px 5px 10px;
	font-size: 15px;
}

.sobre-mim{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}

.sobre-mim p{
  align-self: center;
  margin: 30px 20px 20px 20px;
}

.sobre-mim figure{
 width: 50%;
}

.sobre-mim img{
	width: 100px;
	height: 100px;
}

.sobre-mim article{
 width: 50%;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.card-sobre-mim-con{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-sobre-mim{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
    width: 150px;
    height: 125px;
    margin: 0px 20px 30px 20px;
}

.card-sobre-mim span{
	margin: 0;
	font-size: 18px;
}

.card-sobre-mim span strong{
   font-size: 30px;
}


.tecnologias{
	display: flex;
}

.sobre-tecnologia{
 width: 40%;
 margin: 0 20px 0 0;
}

.sobre-tecnologia p{
  margin:10px 0 10px 20px;
}

.tecnologia-usada{
	display: flex;
	padding: 20px;

}

.tecnologia-usada div{
	display: flex;
	flex-direction: column;
	margin:0 50px 0 0;
	border-left: 1px solid gray;
}

.tecnologia-usada div span{
	padding: 2px;
	margin: 2px 20px;
}

.tecnologia-usada div h4{
	padding: 2px;
	margin:0 20px;
}

.contato{
	margin: 40px 0;
}

.icons-tecnologia{
	margin: 0px 10px 0 0;
}

.contato-informacoes p{
  margin:20px 0 20px 20px;
  width: 300px;
}

.contato-links{
	margin: 20px 0 20px 20px;
}

.contato-links a{
	color: white;
	margin: 0 5px;
	flex-wrap: nowrap;
}